html,
body {
    width: 100%;
    overflow-y: 0;
}

.wrapper {
    background-color: pink;
}

.container-fluid {
    background-color: pink;
}

.container {
    background-color: pink;
}

header {
    height: 600px;
}

header img {
    margin-top: 0px;
    margin-left: 10px;
    max-width: 70px;
}

header h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
}

header h4 {
    font-size: 26px;
    text-align: center;
}

.velogo {
    padding-top: 20px;
}

.social .fa {
    font-size: 40px;
    color: #1c1c1c;
    line-height: 80px;
}

.social .fa:hover {
    color: #2d2d2d;
}

footer {
    background-color: #1c1c1c;
    color: white;
    font-size: 12px;
}

.btn {
    background-color: #1c1c1c;
    color: pink;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn-width {
    width: 150px;
}

.contact h2 {
    font-size: 50px;
    margin-top: 50px;
}

.iphone img {
    height: 500px;
}

.content img {
    margin-top: 20px;
    margin: 10px;
}

.logo {
    height: 125px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    left: 30px;
    display: none;
}

.btn-back-to-top {
    width: 60px;
}

@media (max-width: 767px) {
    header {
        height: 520px;
    }
    header h1 {
        margin-top: 20px;
    }
    .iphone {
        text-align: center;
    }
    .back-to-top {
        bottom: 80px;
    }
    /*.content {
text-align: center;
}*/
    .logo {
        height: 80px;
    }
}

@media (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
    header {
        height: 580px;
    }
    header h1 {
        margin-top: 20px;
    }
    header h4 {
        font-size: 20px;
    }
    .back-to-top {
        bottom: 80px;
    }
    .logo {
        height: 70px;
    }
}